body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: lightskyblue;
  font-size: 80px;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.warning {
  color: crimson;
}


